<div class="content-container">
    <div class="card">
        <div class="content">
                <div class="toolbar">
                    <h4>Cheque&nbspClearance</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="list-group">
                                
                                <a class="list-group-item" href="#/outward">
                                    <h4 class="list-group-item-heading"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;{{'label.heading.outward' | translate}}</h4>
                                    <p class="list-group-item-text">{{'label.thisworkspaceformakeoutwardclearance' | translate}}</p>
                                </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                            <div class="list-group">
                                    <a class="list-group-item" href="#/inward">
                                        <h4 class="list-group-item-heading"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;{{'label.heading.inward' | translate}}</h4>
                                        <p class="list-group-item-text">{{'label.thisworkspaceformakeinwardclearance' | translate}}</p>
                                    </a>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>