<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{ 'label.depositnews.Deposit' | translate }}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/depositform" >
                            <h4 class="list-group-item-heading"><i class="fa fa-repeat fa fa-large"></i>&nbsp;&nbsp;{{'label.depositnews.deposit' | translate}}</h4>                            
                        </a>
                        <a class="list-group-item" href="#/withdrawaldeposit" >
                            <h4 class="list-group-item-heading"><i class="fa fa-plus fa fa-large"></i>&nbsp;&nbsp;{{'label.depositnews.Depositwithdrawal' | translate}}</h4>
                           
                        </a>
                        <a class="list-group-item" href="#/addchargedeposit" >
                            <h4 class="list-group-item-heading"><i class="fa fa-search fa fa-large"></i>&nbsp;&nbsp;{{'label.button.addcharge' | translate}}</h4>
                        </a>
                        
                    </div>
                </div>
                 <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <!-- <a class="list-group-item" href="#/chequeclearance" >
                            <h4 class="list-group-item-heading"><i class="fa fa-repeat fa fa-large"></i>&nbsp;&nbsp;Deposit By Cheque</h4>                            
                        </a> -->
                        <a class="list-group-item" href="#/chequedeposit">
                            <h4 class="list-group-item-heading"><i class="fa fa-bank fa fa-large"></i>&nbsp;&nbsp;{{'label.heading.chequedeposit' | translate}}</h4>
                        </a>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>