<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{ 'label.currentaccountnews.currentaccountnews' | translate }}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/freqposting" has-permission='CREATE_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-repeat fa fa-large"></i>&nbsp;&nbsp;{{'label.currentaccountnews.actype' | translate}}</h4>                            
                        </a>
                        <a class="list-group-item" href="#/journalentry" has-permission='CREATE_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-plus fa fa-large"></i>&nbsp;&nbsp;{{'label.currentaccountnews.jointaccountholder' | translate}}</h4>
                           
                        </a>
                        <a class="list-group-item" href="#/searchtransaction" has-permission='READ_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-search fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.currentaccountnews.resident' | translate}}</h4>
                        </a>
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">        
                    <div class="list-group">
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>