<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.currentaccount.currentaccounts' | translate}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/currentaccountdeposit" >
                            <h4 class="list-group-item-heading"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;{{'label.savingnews.savingdeposit' | translate}}</h4>                            
                        </a>
                        <a class="list-group-item" href="#/currentaccountwithdrawal" >
                            <h4 class="list-group-item-heading"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;{{'label.savingnews.savingwithdrawal' | translate}}</h4>
                           
                        </a>
                        <a class="list-group-item" href="#/currentaccountaddcharge">
                            <h4 class="list-group-item-heading"><i class="fa fa-dollar"></i>&nbsp;&nbsp;{{
                                'label.button.addcharge' | translate}}</h4>
                        </a>
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">        
                    <div class="list-group">
                    <a class="list-group-item" href="#/chequedeposit">
                        <h4 class="list-group-item-heading"><i class="fa fa-bank fa fa-large"></i>&nbsp;&nbsp;{{'label.heading.chequedeposit' | translate}}</h4>
                    </a>
                    <a class="list-group-item" href="#/currentaccounttransfer" >
                        <h4 class="list-group-item-heading"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{
                            'label.button.transferFunds' | translate}}</h4>
                    </a>
                    <a class="list-group-item" href="#/currentaccountclose" has-permission='READ_GLCLOSURE'>
                        <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-folder"></i>&nbsp;&nbsp;{{
                            'label.button.close' | translate}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>