<div class="content-container" ng-controller="areasetup">

    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>Setup Area</h4>
            </div>

            <fieldset>
                <br>
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cambodia</td>
                                        <td>
                                            <a href="#" class="fa fa-pencil fa fa-large">Edit</a>
                                            <a href="#" class="fa icon-remove-sign">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Country">
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">New</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Province</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Kandal</td>
                                        <td>
                                            <a href="#" class="fa fa-pencil fa fa-large">Edit</a>
                                            <a href="#" class="fa icon-remove-sign">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Province">
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">New</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>District</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Saang</td>
                                        <td>
                                            <a href="#" class="fa fa-pencil fa fa-large">Edit</a>
                                            <a href="#" class="fa icon-remove-sign">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="District">
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">New</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Commune</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Talun</td>
                                        <td>
                                            <a href="#" class="fa fa-pencil fa fa-large">Edit</a>
                                            <a href="#" class="fa icon-remove-sign">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Commune">
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">New</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Village</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Talun</td>
                                        <td>
                                            <a href="#" class="fa fa-pencil fa fa-large">Edit</a>
                                            <a href="#" class="fa icon-remove-sign">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Village">
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">New</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>