<!DOCTYPE html>
<div class="content-container" ng-controller="outwardController">
    <ul class="breadcrumb">
      <li><a href="#/chequeclearance">{{'label.anchor.chequeclearance' | translate}}</a></li>
        <li class="active">{{ 'label.anchor.outward' | translate }}</li>
    </ul>

    <div  class="card">
      <div class="content">
         <div class="toolbar">
            <h4>Outward Clearance Workspace</h4>
         </div>
        <div class="row">
           <div class="col-sm-2" id="left-side">
              <div class="navbar navbar-inverse" role="navigation" style="background-color: white; border: none; margin-top: 5px;">
                 <div class="container-fluid">
                    <div class="navbar-header">
                       <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                          ng-click="navCollapsed = !navCollapsed">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       </button>
                    </div>
                    <div collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse">
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnApply" id="btn-menu">
                             <span class="fa fa-print"></span> Print
                             </label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnPrint" id="btn-menu">
                             <span class="fa fa-reply"></span> Return
                             </label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnCorrection" id="btn-menu">
                             <span class="fa fa-spinner"></span> Pending&nbspSlip
                             </label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnCharges" id="btn-menu">
                             <span class="fa fa-tag"></span> Charge
                             </label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnExit" id="btn-menu">
                             <span class="fa fa-trash-o"></span> Clear
                             </label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-16">
                             <label  class="btn btn-primary" ng-model="btnExit" id="btn-menu">
                             <span class="fa fa-edit"></span> Correction
                             </label>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-sm-10">
              <div class="row">
                 <div class="col-sm-6">
                    <div class="panel panel-primary" id="radio-button-left">
                       <!-- <div style="width: 108%; background-color: red; margin: -10px -10px; padding-top: 10px; padding-bottom: 10px;">
                          </div> -->
                       <div class="panel-heading" style="background-color: rgba(245, 245, 245, 1);">
                          <p style="font-size: 12pt; text-align: center; color: black;">View&nbspOption</p>
                       </div>
                       <!-- Start Modal Cleared Popup -->
                       <script type="text/ng-template" id="clearedModal.html">
                          <div class="modal-header">
                                  <h3>Option</h3>
                                </div>
                                <div class="modal-body" ng ng-controller="modalClearedCtrl">
                                  <h4 style="text-align: center;">Please&nbspSelect&nbspLedger</h4>
                                  <div ng-controller="ledgerCtrl">
                                          <select ng-model="ledgerCollection" class="form-control" ng-options="n for n in Ledger" style="margin-left: 1%; width: 98%;"></select> 
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()" id="btn-approve">Approve</button>
                                    <button class="btn btn-warning" ng-click="cancel()" id="btn-cancel">Cancel</button>
                          </div>
                       </script>
                       <!-- End Modal Cleared Popup -->
                       <div class="panel-body" style="padding: 10px 10px;">
                          <div class="btn-group">
                             <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Uncleared'" uib-uncheckable="uncheckable">Uncleared</label>
                             <!-- <div ng-controller="popUpCleared">
                                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Cleared'" uib-uncheckable="uncheckable"  ng-click="mdPopup()">Cleared</label>
                                </div> -->
                             <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Cleared'" uib-uncheckable="uncheckable"  ng-click="mdPopup()">Cleared</label>
                             <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Returned'" uib-uncheckable="uncheckable">Returned</label>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-sm-6">
                    <div class="panel panel-primary" id="radio-button-right">
                       <div class="panel-heading" style="background-color:rgba(245, 245, 245, 1);">
                          <p style="font-size: 12pt; text-align: center; color: black;">View&nbspOption</p>
                       </div>
                       <div class="panel-body" style="padding: 10px 10px;">
                          <div class="btn-group">
                             <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Single'" uib-uncheckable="uncheckable">Single</label>
                             <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'All'" uib-uncheckable="uncheckable">All</label>
                             <!-- <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Returned'" uib-uncheckable="uncheckable">Returned</label> -->
                          </div>
                          <button type="button" ng-model="btnSDRGenerated" class="btn btn-default" style="float: right;">
                          <span class="glyphicon glyphicon-paperclip"></span>&nbspGenerate&nbspSDR&nbspFile
                          </button>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-sm-12">
                    <p style="font-size: 16pt; float: left;">&nbsp&nbspData&nbspRecorded</p>
                    <div  class="data-grid-outward">
                       <table st-table="rowCollection" class="table">
                          <thead style="background-color: rgb(166, 173, 177); color: rgb(0, 0, 0);">
                             <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Deposit&nbspAccount&nbspNo</th>
                                <th>Name</th>
                                <th>Cheque&nbspNo</th>
                                <th>Cheque&nbspType</th>
                                <th>From&nbspAccount&nbspNo</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Status</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection" ng-click="doSomeStuffToSelected(row)" ng-class="{'selected':row == selectedRow}">
                                <td></td>
                                <td>{{row.id}}</td>
                                <td>{{row.dateTime}}</td>
                                <td>{{row.depositAccountNo}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.chequeNo}}</td>
                                <td>{{row.chequeType}}</td>
                                <td>{{row.fromAccountNo}}</td>
                                <td>{{row.currency}}</td>
                                <td>{{row.amount}}</td>
                                <td>{{row.status}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-sm-12">
                    <div id="total-textbox">
                       <input type="text" ng-model="txtTotal" class="form-control" style="width: 20%; float: right;">
                       <p style="float: right; margin-top: 5px; font-size: 12pt; font-weight: bold;">Total:&nbsp&nbsp</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
   </div>
</div>